DSL/markmap思维导图工具.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: markmap思维导图工具
  use_icon_as_answer_icon: false
kind: app
version: 0.1.4
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1727936852767-source-1727936862618-target
      source: '1727936852767'
      sourceHandle: source
      target: '1727936862618'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1727936862618-source-1734342600845-target
      selected: false
      source: '1727936862618'
      sourceHandle: source
      target: '1734342600845'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1734342600845-source-1734342645464-target
      source: '1734342600845'
      sourceHandle: source
      target: '1734342645464'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: content
          max_length: 5000
          options: []
          required: true
          type: paragraph
          variable: content
      height: 90
      id: '1727936852767'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{{#1727936852767.content#}}'
          type: raw-text
        desc: ''
        headers: ''
        method: post
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: http://markmap-flask-service:5003/upload
        variables: []
      height: 110
      id: '1727936862618'
      position:
        x: 382.6804920892272
        y: 282
      positionAbsolute:
        x: 382.6804920892272
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\n\ndef main(input_str: str) -> dict:\n    new_url = \"https://markmap.ikunsudent.top:8888\"\
          \n    pattern = r\"http://127\\.0\\.0\\.1:\\d+\"\n    replaced_str = re.sub(pattern,\
          \ new_url, input_str)\n    return {'result': replaced_str}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1727936862618'
          - body
          variable: input_str
      height: 54
      id: '1734342600845'
      position:
        x: 764.7022683806034
        y: 268.8049208922711
      positionAbsolute:
        x: 764.7022683806034
        y: 268.8049208922711
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1734342600845'
          - result
          variable: result
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1734342645464'
      position:
        x: 1091.1339028637426
        y: 282
      positionAbsolute:
        x: 1091.1339028637426
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -80.22429849152036
      y: 81.5729809721538
      zoom: 0.9999999999999999
