DSL/mermaid作图工具.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: mermaid作图工具
  use_icon_as_answer_icon: false
kind: app
version: 0.1.4
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1727777089284-source-1727777093099-target
      source: '1727777089284'
      sourceHandle: source
      target: '1727777093099'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1727777093099-source-1734340573172-target
      source: '1727777093099'
      sourceHandle: source
      target: '1734340573172'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1734340573172-source-1734340964084-target
      source: '1734340573172'
      sourceHandle: source
      target: '1734340964084'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: content
          max_length: 5000
          options: []
          required: true
          type: paragraph
          variable: content
      height: 90
      id: '1727777089284'
      position:
        x: -2.5163527722727395
        y: 311.82223245113096
      positionAbsolute:
        x: -2.5163527722727395
        y: 311.82223245113096
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{{#1727777089284.content#}}'
          type: raw-text
        desc: ''
        headers: ''
        method: post
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: http://mermaid-flask-service:5002/upload
        variables: []
      height: 110
      id: '1727777093099'
      position:
        x: 409.0698011100813
        y: 311.82223245113096
      positionAbsolute:
        x: 409.0698011100813
        y: 311.82223245113096
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\n\ndef main(input_str: str) -> dict:\n    new_url = \"https://mermaid.ikunsudent.top:8888\"\
          \n    pattern = r\"http://127\\.0\\.0\\.1:\\d+\"\n    replaced_str = re.sub(pattern,\
          \ new_url, input_str)\n    return {'result': replaced_str}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: true
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1727777093099'
          - body
          variable: input_str
      height: 54
      id: '1734340573172'
      position:
        x: 770.4412307828726
        y: 311.82223245113096
      positionAbsolute:
        x: 770.4412307828726
        y: 311.82223245113096
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1734340573172'
          - result
          variable: result
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1734340964084'
      position:
        x: 1267.8403846612441
        y: 311.82223245113096
      positionAbsolute:
        x: 1267.8403846612441
        y: 311.82223245113096
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 181.33609194891505
      y: 54.489154108479596
      zoom: 0.5743491774985191
